# Setting environment for rc-like shells.

# This part lets me to set variables by files and add functionality

fn setenv {
	rc=$1
	dirs = ($env)
	mkdir -p $dirs
	# Variables.
	for(dir in $dirs){
		if(test -d $dir){
			for(file in $dir/$rc/var/* ){
				test -r $file && `{basename $file} = `{cat $file}
			}
		}
	}

	# Additional scripts to run on startup.
	for(dir in $dirs){
		if(test -d $dir){
			for(file in $dir/$rc/*.rc ){
				test -r $file && . $file
			}
		}
	}

	dirs=''
	rc=''
}
